@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background-image: url(pngs/background.png);
}

.light-mode {
  --info: #482bd9;
  --danger: #810000;
  --success: #00a806;
  --black-100: #1a1a1a;
  --black-80: #757575;
  --black-60: #b1b1b1;
  --black-40: #c2c2c2;
  --black-20: #f5f5f5;
}

.dark-mode {
  --info: #482bd9;
  --danger: #810000;
  --success: #00a806;
  --black-100: #f5f5f5;
  --black-80: #c2c2c2;
  --black-60: #b1b1b1;
  --black-40: #757575;
  --black-20: #1a1a1a;
}

#dark-mode {
  display: none;
}

.dark-mode-button {
  border: none;
  background-color: transparent;
  color: var(--black-20);
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
}

/* NAVIGATION BAR */

nav {
  background-color: var(--info);
  color: var(--black-20);
  display: flex;
  position: fixed;
  width: 100%;
  border-radius: 0 0 23px 23px;
  align-items: center;
  padding-block: 1em;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

.container {
  margin-inline: 2em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#vc {
  max-width: 50px;
  font-style: normal;
  font-weight: 500;
}

.hide {
  display: none;
}

#dropdown-container {
  position: relative;
}

#dropdown-body {
  position: absolute;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: var(--black-20);
  width: 10em;
  padding: 0.5em 1em 1.5em 0.5em;
  right: 10px;
  top: 150%;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
}

#dropdown-body > ul li {
  color: var(--black-100);
  margin-left: 0.3em;
}

hr {
  margin-block: 0.5em;
  width: 100%;
}

#dropdown {
  border: none;
  background-color: transparent;
  color: var(--black-20);
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
}

.dropdown-section {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.dropdown-section:hover {
  background-color: rgb(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 3px;
}

img[alt="down_arrow"] {
  margin-left: 0.5em;
  transition: transform 0.3s ease;
}

.dropdown-svgs {
  width: 30px;
  height: auto;
}

.fadeIn {
  animation: fadeIn 0.3s ease;
}

.rotate180 {
  transform: rotateX(180deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 650px) {
  .dropdown-text {
    display: none;
  }
  .answer-container {
    padding: 0;
  }
}

/* --------------------------------------------------------------------------------------------- */

/* MAIN */
main {
  padding-top: 8em;
  margin-inline: 2em;
}

.title {
  font-style: normal;
  font-weight: 200;
  font-size: 75px;
  padding-bottom: 0.2em;
}

.input-title {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

.input-info {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: var(--black-80);
  transition: all 1s ease;
}

.input-text {
  border: 2px solid var(--black-60);
  background-color: white;
  border-radius: 3px;
  height: 2.5em;
  padding-inline: 0.5em;
  width: 250px;
  transition: all 1s ease;
}

.danger {
  border: 2px solid var(--danger);
}

.success {
  border: 2px solid var(--success);
}

.danger-text {
  color: var(--danger);
}

.success-text {
  color: var(--success);
}

.input-text::placeholder {
  color: var(--black-80);
}

.input-container {
  border: dashed 1px var(--black-60);
  margin-block: 1em;
  display: inline-block;
  padding: 1em;
  border-radius: 5px;
}

.input {
  margin-block: 1em;
}

.answer-container {
  border: 2px solid var(--black-100);
  border-radius: 4px;
  display: inline-flex;
  padding: 1em 2em 1em 1em;
  align-items: center;
  margin-bottom: 1em;
}

.answer-container > legend {
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  color: var(--black-100);
}

.answer {
  font-style: normal;
  font-weight: 700;
  font-size: 4em;
  max-width: 5em;
  overflow-x: scroll;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background: #482bd9;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--black-20);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
  transition: all 0.3s ease;
}

.submit:hover {
  background: #3b25a8;
}

.submit:active {
  background: #220f80;
}

.submit:focus {
  outline: 2px solid #d8d0ff;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black-40);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black-80);
  border-radius: 5px;
}

::-webkit-scrollbar-button {
  display: none;
}
